<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" color=""></ion-back-button>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end" *ngIf="isEdit">
      <ion-button color="danger" (click)='delete()'>删 除</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="mode-img">
    <!-- <img *ngIf="img && !urlImage" src="{{img}}" class="circle">  -->
    <img *ngIf="urlImage" [src]="urlImage" class="mode-show-img">
    <img *ngIf="!urlImage" src="../../../assets/mode/con-mode-getup.png">

    <label class="mode-img-button">
      <img src='../../../assets/photo.svg' />
      <input id="file-upload" style="display: none;" type="file" accept=".png, .jpg" (change)="onUpload($event)" />

    </label>
  </div>
  <ion-item margin-bottom margin-bottom>
    <ion-input (keyup.enter)="moveFocus(b)" type="text" placeholder="模式名称" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-list>
    <ion-list-header>
      选择设备
    </ion-list-header>
    <ion-item *ngFor="let item of deviceList">
      <ion-avatar slot="start">
        <img [src]="item.img">
      </ion-avatar>
      <ion-label>{{item.name}}</ion-label>
      <ion-toggle [(ngModel)]="item.mode_setting"></ion-toggle>
    </ion-item>
    


  </ion-list>

</ion-content>

<ion-footer>
  <ion-button  expand="block" round strong  (click)='save()'>  保 存 </ion-button>
</ion-footer>