<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">关闭</ion-button>
    </ion-buttons>
    <ion-title>定时{{titleNum}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">保存</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
    <my-loop [(myModel)]="loop"></my-loop>
  </ion-list>
  <ion-list>
    <my-time name='开启时间' [(myModel)]="startDate"></my-time>
    <my-time name='结束时间' [(myModel)]="stopDate"></my-time>
  </ion-list>
  <ion-list>
    <my-time name='开启时间' [(myModel)]="startDate1"></my-time>
    <my-time name='结束时间' [(myModel)]="stopDate1"></my-time>
  </ion-list>

<my-picker name='设定模式' [(myModel)]="modeModal" [columns]='modeColumns' ></my-picker>
<my-picker name='设定温度'  [(myModel)]="tempModal" [columns]='tempColumns' ></my-picker>
</ion-content>
