.wifi-icon{
    font-size: 130px;
    text-align: center;
}
.loading-div{
    text-align: center;
}
.loading-div .text1{
    display: block;
    font-size: 16px;
}
.loading-div .text2{

    font-size: 12px;
    
}