<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>WIFI配置</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="wifi-icon">
    <ion-icon name="wifi"></ion-icon>
  </div>
<div style="width: 100%;height: 100px;">
  <div class="loader">
    <div class="loading-3">
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
    </div>
  </div>
</div>
  <div class="loading-div">
    <!-- Crescent -->

    <ion-text class="text1">正在发送信息给设备...</ion-text>
    <ion-text color='medium' class="text2">请将手机靠近设备与路由器</ion-text>

  </div>
</ion-content>