<ion-content fullscreen>

</ion-content>
<ion-footer>
  <ion-grid class="mode">
    <ion-row>
      <ion-col *ngFor="let item of dataList" size='4'>
        <img src="../../../assets/air/{{item.F_Icon}}" (click)="dismiss(item)" />
        {{item.F_Name?item.F_Name:item.F_ParamsName}}
        <!-- {{config.chinese?item.F_ParamsName:item.F_ParamsName_En}} -->
      </ion-col>

    </ion-row>
  </ion-grid>
  <div class="dismiss">
    <ion-icon name="arrow-down" (click)="dismiss()"></ion-icon>
  </div>
</ion-footer>