<ion-header>
  <ion-toolbar>
    <ion-title >智能模式</ion-title>
    <ion-buttons  slot="end">
      <ion-button  (click)="editMode()">
          <ion-icon color="primary" name="add" slot="icon-only"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="padding-bottom: 60px">

  <ion-item no-padding no-margin style="border-radius: 5px; margin:10px;" *ngFor="let item of modeList">
    <div class="mode-item"  [ngStyle]="{ 'height' :modeHeight,'backgroundImage': 'url('+item.img+')'}"
         >
        <div class="drag" [ngClass]="{'mode-item-header-active': item.selected}">
            <div class="mode-item-header" (click)="editMode(item)">{{item.name}}</div>
            <div class="mode-item-footer" (click)="setMode(item)">执行</div>
        </div>
    </div>
  </ion-item>




</ion-content>
