<ion-header > 
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>配置向导</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-img [src]="img"></ion-img>
</ion-content>
<ion-footer>
    <ion-item lines="none">
      <ion-label>已完成上述操作</ion-label>
    <ion-checkbox color="primary" slot="start" [(ngModel)]='check'></ion-checkbox>
    </ion-item>
  
  <ion-toolbar class="next">
    <ion-title>
    <ion-button size='small' color='light' [disabled]='!check' (click)="goWifiSettting()">下一步</ion-button>

    </ion-title>
  </ion-toolbar>
</ion-footer>