<ion-header > 
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>配置向导</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-img [src]="img"></ion-img>
</ion-content>
<ion-footer>
  <!-- <ion-toolbar>
    <input type="radio" name="已完成上述操作" id="">

  </ion-toolbar> -->
  <ion-toolbar class="next">
    <ion-title>
    <ion-button size='small' color='light'>下一步</ion-button>

    </ion-title>
  </ion-toolbar>
</ion-footer>