<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>分类</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen forceOverscroll='true'>
    <!-- Searchbar with cancel button always shown -->
    <ion-searchbar placeholder="搜索"></ion-searchbar>
  <div class="cate_content">
    <div class="cate_left">
      <ul class="my-list">
        <li *ngFor="let item of categoryList" (click)="setType(item.id)"
          [ngClass]="{'left-select': item.id===selectCategoryID}">
          <ion-text>
            {{item.name}}
          </ion-text>
        </li>



      </ul>
    </div>

    <div class="cate_right">
      <ion-grid >
        <ion-row>
          <ion-col  (click)="goDeviceConfig(type)" size="4" *ngFor="let type of showTypeList">
            <ion-img class="img" [src]="type.img"></ion-img>
            <ion-text>
              {{type.name}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


  </div>
</ion-content>

